@model IEnumerable<CSKeylinx.Models.Matches>

@{
    ViewData["Title"] = "Matches";
}

    <blockquote class="blockquote text-center">
        <h1 class="display-4">Matches</h1>
    </blockquote>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClanHomeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClanAwayScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClanAway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClanHome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClanHomeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClanAwayScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClanAway.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClanHome.Name)
            </td>
        </tr>
}
    </tbody>
</table>
